$color-pink: #ff3e79;
$color-pink-light: #ffd9e5;
$color-white: #fff;
$color-text-regular: #1b1c21;
$color-text-light: #7e7e82;
$color-aqua: #41f6d7;
$color-aqua-light: #b8ffec;
$color-aqua-extralight: #d9fff5;
$color-background: #f8f8f8;
$color-pagination: #dddddd;
$color-pagination-active: #b5b6bc;
$color-gray: #eaeaea;
$font-main: 'TT-Lakes', sans-serif;
